@import 'tailwindcss';
/* main.css */

/* body {
    background-image: url('/public/generalbg.jpg');
    background-position: center;
    background-attachment: fixed;
} */

body {
  background-color: #1A1A1A;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px; /* important si scroll horizontal */
}

/* Fond du track (la ligne du scroll) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Barre de scroll */
::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* violet */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5b21b6; /* plus foncé */
}
